<% layout("layouts/boilerplates") -%>

    <div class="row">
        <div class="col-md-8 offset-3">
            <h3>
                <%= listing.title %>
            </h3>
            <div class="card">
                <div class="dtls-img">
                    <img class="card-img-top" src="<%= listing.image.url %>" alt="listing image">
                </div>
                <div class="card-body">
                    <p><i><strong>Owned By</strong>
                            <%= listing.owner.username %>
                        </i></p>
                    <p class="card-text"><strong>
                            <%= listing.title %>
                        </strong> </p>
                    <span>
                        <%= listing.description %>
                    </span><br>
                    <span>&#8377; <%= listing.price.toLocaleString("en-IN") %></span><br>
                    <span>
                        <%= listing.location %>
                    </span><br>
                    <span>
                        <%= listing.country %>
                    </span><br>
                </div>
            </div>
            <% if (currUser && currUser._id.equals(listing.owner._id)) { %>
                <div class="show-btn">
                    <a class="btn btn-dark" href="/listings/<%= listing._id %>/edit">Edit this listing</a>

                    <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-danger offset-5"
                            onclick="return confirm('Are yousure want to delete this listings ?')">Delete</button>
                    </form>
                </div>
                <% } %>
        </div>
    </div>


    <div class="col-md-8 offset-3">
        <br>
        <% if (currUser) { %>
            <h4>Leave A Reivew</h4>
            <form action="/listings/<%= listing.id %>/reviews" method="post" class="needs-validation" novalidate>
                <!-- <div class="mb-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input type="range" id="rating" name="review[rating]" class="form-range" min="1" max="5" step="1"
                            required>
                    </div> -->
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Comments</label>
                    <textarea name="review[comment]" id="comment" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please Do Some Comments</div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                </div>
            </form>
        <% } %>
    </div>

    <h5 class="text-center">All Reviews</h5>
    <div class="slider">
        <div class="review-slider">
            <% for(let review of listing.reviews){ %>
                <div class="col-md-6 mt-3">
                    <div class="card review">
                        <div class="card-body">
                            <h5>@<%= review.author.username %>
                            </h5>
                            <p class="card-text">
                                <%= review.comment %>
                            </p>
                            <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                        </div>
                        <form class="mt-3" id="deleteForm"
                            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                            method="POST">
                            <button class="btn btn-sm btn-dark" id="deleteBtn"
                                onclick="return confirm('Are you sure want to delete this review ?')">Delete</button>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
    </div>


    <div class="row mb-5">
        <div class="col-md-6 offset-3">
            <h3>Where You'll be</h3>
            <div id="map" data-coordinates="<%= JSON.stringify(listing.geometry.coordinates) %>"
                data-city="<%= listing.location %>"></div>
        </div>
    </div>